body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.section{
  width: 1200px;
  margin: auto;
  margin-top: 30px;
}

.section_first {
  display: flex;
  flex-direction: column;
}

.subsection_first, .subsection_second, .subsection_third {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.subsection_first:hover, .subsection_second:hover, .subsection_third:hover {
  color: #76cdd8;
}

.subsection_first:hover::after, .subsection_third:hover::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 80px 80px 0;
  border-color: transparent #76cdd8 transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
}

.subsection_second:hover::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 80px 0 0;
  border-color: #76cdd8 transparent  transparent transparent;
  left: 0;
  top: 0;
  position: absolute;
}

.subsection_first_wrap1, .subsection_second_wrap2, .subsection_third_wrap1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  background-color: #76cdd8;
}

.subsection_first_wrap2, .subsection_second_wrap1, .subsection_third_wrap2 {
  width: 50%;
  padding: 80px 70px;
  box-sizing: border-box;
  background-color: white;
}

.subsection_first_heading {
  font-size: 320%;
  font-weight: 500;
  text-align: center;  
}

.subsection_first_text {
  font-style: italic;
  font-size: 120%;
  line-height: 175%;
}

.section_first_title {
  margin: 0;
  font-size: 160%;
  font-weight: 500;
  color: #76cdd8;
}

.subsection_second_text, .subsection_third_text {
  line-height: 175%;
  margin: 20px 0;
}

.subsection_second_img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.section_first_a {
  color: #3589ff;
  text-decoration: none;
}

.subsection_third_img {
  object-fit: fill;
  width: 100%;
  height:100%;
}

.subsection_third_img:hover {
  transform: scale(1.1);
}

.button {
  padding: 18px 45px;
  border: none;
  font-size: 1em;
  color: white;
  background-color: #019999;
}

.button:hover {
  background-color: rgb(118, 205, 216)
}

.subsection_second_button {
  float:right;
}

.subsection_third_button {
  margin: 0 28%;
}

.subsection_second_signature {
  font-size: 80%;
  margin: 30px 0;
}

.section_second_wrap1 {
  width: 68%;
  padding: 80px 70px;
  box-sizing: border-box;
  background-color: white;
}

.section_second_wrap2 {
  width: 32%;
}

.section_second, .section_third {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.section_third_wrap1, .section_third_wrap2, .section_third_wrap3 {
  width: 33%;
}

.section_third_plan {
  margin: 30px;
  border: 1px solid #019999;
}

.plan_header {
  margin: 0;
  color: white;
  background-color: #019999;
  margin-bottom: 50px;
}

.plan_title {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 20px 0 0 0;
  font-weight: 400;
}

.plan_price {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 15px 0 20px;
}

.plan_p {
  padding-left: 40px;
}

.section_third_button {
  display: block;
  margin: 40px auto;
  border: 1px solid #019999;
}

.section_third_button:hover {
  background-color: #24d4d4;
}

.plan_standard:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.plan_wrap {
  display: none;
  margin: -40px auto 60px;
  text-align: center;
}

.plan_astr {
  color: red;
}

.plan_spec_discount {
  color: #24d4d4;
  font-size: 90%;
}

.plan_advanced:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  margin-top: 10px;
  margin-bottom: 10px;
}

.plan_advanced:hover .plan_wrap {
  display: block;
}

.section_fourth {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
}

.form_title {
  height: 160px;
  color: white;
  font-size: 160%;
  font-weight: 500;
  padding-top: 45px;
  padding-left: 160px;
  background-color: #24d4d4;
  box-sizing: border-box;
}

.form_center {
  width: 100%;
  height: 360px;
  position: relative;
}

.form {
  position: absolute;
  top: -50px;
  left: 160px;
  right: 160px;
  height: 460px;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  padding: 56px 80px 50px 80px;
  box-sizing: border-box;
}

.input_el {
  font-family: inherit;
  font-weight: 500;
  width: 47%;
  margin-bottom: 15px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 100%;
  color: #666;
  outline: 1px solid #ddd;
  border: none;
}

.input_el:focus {
  border-color: #24d4d4; 
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.form_select {
  outline: 1px solid #666;
}

.textarea {
  line-height: 1.3em;
}

.section_fourth_button {
  display: block;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  margin: 30px auto;
}

.form_footer {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #019999;
}

.form_footer_1col {
  width: 50%;
  line-height: 1.5em;
  padding: 100px 90px 40px 22%;
}
.form_footer_1col>h3 {
  margin: 0.5em auto;
}

.form_footer_2col {
  width: 50%;
  line-height: 1.8em;
  padding: 100px 16% 40px 30px;
}

.footer {
  font-size: 90%;
  display: block;
  width: fit-content;
  margin: 30px auto ;
}
