@mixin button {
    position: absolute;
    color: white;
    background-color: $colbutton;
    border: none;
    font-weight: 700;
    font-size: 111%;
    padding: 13px 44px;
    border-radius: 3px;
    font-family: $font_sans;
}
@mixin link($linkthic: auto) {
    color:white;
    font-family: $font_sans;
    text-decoration-thickness: $linkthic;
}
@mixin sel_card($index) {
    background-color: $col_sel_card;
    position: relative;
    margin-bottom: 25px;
    border-radius: 7px;
    height: map-get($sect_card_height, $index);
    .section_card_img {
        width: map-get($section_img_width, $index);
        height: map-get($section_img_height, $index);
        border-radius: 25px; 
        padding: 20px;                    
    }
    .section_card_right_container {
        position: absolute;
        top: map-get($right_cont_top, $index);
        left: map-get($right_cont_left, $index);
        width: map-get($right_cont_width, $index);
        text-align: center;
        .section_card_heading {
            text-align: center;
            padding-bottom: map-get($card_head_bottom, $index);
            font-size: 150%;
            font-weight: 700;
            letter-spacing: -0.4px;
        }
        .section_card_text {
            line-height: 1.5;
            font-family: $cardfont;
            text-align: justify;
            margin-bottom: map-get($card_text_bottom, $index);
            opacity: 70%;
            word-spacing: 0.7px;
        }
    }
}
@mixin logo {
    position: absolute;
    font-family: $logofont;
    p {
        position: absolute;
        left: map-get($land_logo, "pleft");
        top: map-get($land_logo, "ptop");
        font-size: 150%;
        font-weight: 600;
        text-align: left;
        opacity: 0.7;
        span {
            font-family: $logo_span;
            display: block;
            position: absolute;
            top: map-get($land_logo, "spantop");
            left: map-get($land_logo, "spanleft");
            font-size: 41%;
            letter-spacing: 0.1px;
        }
    } 
}
* {
    margin: 0;
    }
body {
    width: 1920px;
    background-color: $bgcolor;
    .header {
        background-image: $bgimg;
        background-size: cover;
        background-position: $bgimgpos;
        width: 1920px;
        height: 720px;
        border-radius: 0 0 760px/290px 0;
        color: $colorheader;
        .header-wrap {
            position: relative;
            margin-left: 192px;
        }
        .landing-logo {
            @include logo;
            top: 20px;
            left: 0px;
        }
        .header_heading {
            position: absolute;
            width: 600px;
            display: block;
            top: 136px;
            font-size: 450%;
            font-weight: 800;
            font-family: $font_sans;
            line-height: 1.01;
            z-index: 1;
            opacity: $headeropacity;
        }
        .header_heading::after {
            display: block;
            content: "";
            width: 301px;
            height: 50px;
            position: absolute;
            background-color: $colafter;
            top:96px;
            left: 0px;
            z-index: -1;
        }
        .header_text {
            white-space: pre;
            position: absolute;
            left: $head_text_pos;
            top: 317px;
            line-height: 1.5;
            letter-spacing: 0.18px;
            font-family: $headertextfont;
            opacity: $headeropacity;
        }
        .header_button {
            @include button;
            top: 497px;
        }
        .login {
            @include link(3px);
            position: absolute;
            top: 506px;
            left: 295px;
            font-size: 125%;
            font-weight: 400;
        }
    }
    .section {
        position: relative;
        width: 1115px;
        margin: 0 auto;
        font-family: $font_sans;
        border-radius: 7px;
        .section_text {
            text-align: center;
            font-size: 262%;
            padding: 37px;
            font-weight: 600;
            z-index: 1;
            color: $colorheader;
        } 
        .section_text::after {
            display: block;
            content: "";
            width: 190px;
            height: 50px;
            position: absolute;
            background-color: $colafter;
            top:31px;
            left: 564px;
            z-index: -1;
        }
        .section_card_wrap {
            color: white;
            .section_card:nth-child(1) {
                @include sel_card("1");
            } 
            .section_card:nth-child(2) {
                @include sel_card("2");
            }
            .section_card:nth-child(3) {
                @include sel_card("3");
            }
        }
        .section_banner {
            position: relative;
            .section_banner_text_wrap {
                position: relative;
                width: 1198px;
                margin: 0 auto;
                border-radius: 7px;
                margin-top: 140px;
                margin-bottom: -74px;
                height: 144px;
                left: -42px;
                border-radius: 7px;
                background-image: linear-gradient(to right, $grad1_col, $grad2_col);
                .section_banner_heading {
                    position: absolute;
                    left: 162px;
                    top: map-get($banner, "head");;
                    font-family: $font_sans;
                    font-size: 189%;
                    font-weight: 900;
                    opacity: 0.7;
                    z-index: 1;
                    color: $colorheader;
                    opacity: $headeropacity;
                }
                .section_banner_heading::after {
                    display: block;
                    content: "";
                    width: 64px;
                    height: 50px;
                    position: absolute;
                    background-color: $colafter;
                    top: -12px;
                    left: 120px;
                    z-index: -1;
                }
                .section_banner_text {
                    color: white;
                    position: absolute;
                    left: 162px;
                    top: map-get($banner, "text");
                    opacity: 0.6;
                    font-family: $cardfont;
                }
            }
            .section_banner_button {
                @include button;
                top: 48px;
                left: 852px;
            }
        }
        
    }
    .section_link {
        @include link;
        opacity: 70%;
    }
    .section_link:visited {
        @extend .section_link;
    }
    .section_link:link {
        @extend .section_link;
    }
    .footer {
        position: relative;
        .footer-wrap {
            background-color: $col_sel_card;
            position: relative;
            height: 245px;
            z-index: -2;
            color: white;
            .footer_logo{
                @include logo;
                top: 137px;
                left: 192px;
            }
            .footer_text {
                position: absolute;
                width: 300px;
                left: 772px;
                top:128px;
                font-size: 88%;
                line-height: 1.43;
                opacity: 0.7;
                font-family: $cardfont;
            }
            .footer-cr {
                position: absolute;
                left: map-get($footer, "left");
                top: map-get($footer, "top");
                opacity: 0.7;
                font-family: $logo_span;
            }
        }
    }
}     
    
    
    