$bgcolor: #1b1e2a;
$font_sans: 'Source Sans Pro', sans-serif;
$font_hind: 'Hind', sans-serif;
$font_fresca: 'Fresca', sans-serif;
$bgimg: url("../img/m-h-night.jpg");
$logofont: $font_fresca;
$colorheader: white;
$colafter: #ff4d30;
$headertextfont: $font_fresca;
$headeropacity: 1;
$colbutton: #e4ae00;
$section_img_width: ("1": 443px, "2": 429px, "3": 473px);
$section_img_height: ("1": 294px, "2":285px, "3":315px);
$col_sel_card: #383d4f;
$sect_card_height: ("1": 334px, "2": 325px, "3": 355px);
$right_cont_top: ("1": 70px, "2": 70px, "3": 83px);
$right_cont_left: ("1": 551px, "2": 538px, "3": 577px);
$right_cont_width: ("1": 457px, "2": 468px, "3": 434px);
$card_head_bottom: ("1": 46px, "2": 39px, "3": 66px);
$card_text_bottom: ("1": 22px, "2": 19px, "3": 33px);
$cardfont: $font_fresca;
$grad1_col:#e0a700; 
$grad2_col: #952b4f;
$banner: ("head": 28px, "text": 82px);
$logo_span: $font_fresca;
$land_logo: ("pleft": 59px, "ptop": 1px, "spantop": 29px, "spanleft": 4px);
$footer: ("left": 1554px, "top": 149px);
$bgimgpos: 0px -280px;
$head_text_pos: -50px;