$bgcolor: white;
$font_sans: 'Source Sans Pro', sans-serif;
$font_hind: 'Hind', sans-serif;
$font_fresca: 'Fresca', sans-serif;
$bgimg: url("../img/m-h-day.jpg");
$logofont: $font_hind;
$colorheader: #1b1e2a;
$colafter: #0ca1c8;
$headertextfont: $font_hind;
$headeropacity: 0.7;
$colbutton: #699a00;
$section_img_width: ("1": 430px, "2": 415px, "3": 458px);
$section_img_height: ("1": 286px, "2":275px, "3":304px);
$col_sel_card: #1b1e2a;
$sect_card_height: ("1": 326px, "2": 315px, "3": 344px);
$right_cont_top: ("1": 69px, "2": 66px, "3": 79px);
$right_cont_left: ("1": 539px, "2": 526px, "3": 563px);
$right_cont_width: ("1": 467px, "2": 479px, "3": 447px);
$card_head_bottom: ("1": 40px, "2": 34px, "3": 62px);
$card_text_bottom: ("1": 20px, "2": 18px, "3": 30px);
$cardfont: $font_hind;
$grad1_col:#669702; 
$grad2_col: #295bd7;
$banner: ("head": 24px, "text": 78px);
$logo_span: $font_sans;
$land_logo: ("pleft": 59px, "ptop": -4px, "spantop": 33px, "spanleft": 11px);
$footer: ("left": 1535px, "top": 147px);
$bgimgpos: 0px -277px;
$head_text_pos: -48px;

